extends layout/head
block title
	title Blunes – Home
block content
	body#homepage
		.wrap
			include layout/navigation
			main
				.spacer
					.intro
						.intro-image
							img(src="img/homepage_intro.png" alt="Your Brand Matters")
						.intro-text
							h1 Your Brand<br>Matters
				section.works.columns-2.mar-top-lg
					.container
						.row
							.col-lg-8.col-md-12
								.section-title
									h2 You’re in good company
									p Our work help startups to solve important problems and grow up. We have many years experience and many interesting problems which we solved.
								.works-filters Shown: 
									span.open-filters All Projects
									.fullscreen-filters
										.close-filters Close
										ul
											li(data-group='["*"]').current All Projects
												span
											li(data-group='["branding"]') Branding
												span
											li(data-group='["print"]') Print
												span
											li(data-group='["typography"]') Typography
												span
											li(data-group='["art direction"]') Art Direction
												span
						.row
							.col-md-12
								.works-grid
									.works-gutter
									mixin work-item(img, title, services)
										- var groups = services.join(",").toLowerCase().split(",");
										a.work-item(href="#", data-groups=groups)
												.work-image
													.icon-arrow
													img(src=img, alt=title)
												.work-description
													h3.work-title=title
													ul.work-services
														each val in services
															li=val
									+work-item("img/works/work_1.png", "Dom Casmurro", ["Branding"])
									+work-item("img/works/work_2.png", "Self-Cultivation for Designers", ["Branding"])
									+work-item("img/works/work_3.png", "Catalogue — Voice & Vote", ["Typography"])
									+work-item("img/works/work_4.png", "Booklet with Sport Grids", ["Art Direction"])
									+work-item("img/works/work_5.png", "The Rise of Andy Warhol — Robert Hughes", ["Print"])
									+work-item("img/works/work_6.png", "Design 360° Magazine", ["Typography"])
									+work-item("img/works/work_7.png", "Open Your Charisma", ["Typography"])
									+work-item("img/works/work_8.png", "Flyby", ["Branding"])
									+work-item("img/works/work_9.png", "Guy Oberson — Sous La Peau Du Monde", ["Art Direction", "Print"])
									+work-item("img/works/work_10.png", "Precisiones Sobre La Incerteza", ["Print"])
						.row
							.col-md-12
								.load-more
									h2
										a(href="#") Load More
			include layout/footer
		include layout/js
