extends layout/head
block title
	title Blunes – Journal
block content
	body
		.wrap
			include layout/navigation
			main#journal
				.spacer
					.container
						.row
							.col-lg-8.offset-lg-2.col-md-10.offset-md-1
								.page-intro.mar-top-lg
									h1.page-title Journal
						.row
							.col-md-12
								.mar-top-md
									article.featured
										a.smooth-leave(href="journal-single.html")
											.article-image
												img(src="img/journal/featured_article.png" alt="A Lightweight Branding Exercise for Startups")
											.article-text
												span.time July 26
												h2.title A Lightweight Branding Exercise for Startups
												p A bottom-up, alignment-oriented approach
						mixin article(img, title, text, time)
							.col-md-4
								article
									a.smooth-leave(href="journal-single.html")
										.article-image
											.icon-eye
												svg
													path.outer-oval(d="M 3 16 C 3 13, 12 3, 24 3 C 36 3, 45 13, 45 16 C 45 19, 36 29, 24 29 C 12 29, 3 19, 3 16 Z")
													circle.inner-oval(cx="24" cy="16" r="7")
											img(src=img alt=title)
										.article-text
											h4.title=title
											p=text
											span.time=time
						.articles-list
							.row
								+article("img/journal/article_1.png", "Branding for Builders", "How Netflix defined a brand that helped it to build a great product.", "July 23")
								+article("img/journal/article_2.png", "The Psychology of Color in Marketing and Branding", "The psychology of color is one of the most interesting aspects of marketing.", "July 20")
								+article("img/journal/article_3.png", "It’s a Complicated Time to be a Consumer", "Why your business should hire a designer", "July 18")
							.row
								+article("img/journal/article_4.png", "How To Be Different, Not Better", "‘Better’ will always be a losing game for your brand.", "July 16")
								+article("img/journal/article_5.png", "Printing the Annual Report Books", "The story of designing & printing personalized books.", "July 15")
								+article("img/journal/article_6.png", "A Five-Minute Guide to Better Typography", "From a three-part talk series on graphic design.", "July 12")
							.row
								+article("img/journal/article_7.png", "Art Director Mission: Setting a Box of Rules", "We’ve talked with Jamie McNulty about his profession and the way art director works.", "July 11")
								+article("img/journal/article_8.png", "Brush Calligraphy Quick Start", "You’ve seen this new modern calligraphy thing.", "June 28")
								+article("img/journal/article_9.png", "You're Working in the Wrong Place", "Open offices misunderstand psychology and design.", "June 25")
						.row
							.col-md-12
								.load-more
									h2
										a(href="#") Load More
			include layout/footer
		include layout/js
